# Problema 3: Lendo coordenadas de um arquivo e criando geometrias.

Neste exercício usaremos o dataset de viagens entre localidades específicas da [região de Helsinki](https://raw.githubusercontent.com/AutoGIS-2019/Exercise-1/79d71e62c0823c8c55af1290d1016d84ec46adbb/data/travelTimes_2015_Helsinki.txt).

## Passos

1. Ler o dataset [data/travelTimes_2015_Helsinki.txt](https://raw.githubusercontent.com/AutoGIS-2019/Exercise-1/79d71e62c0823c8c55af1290d1016d84ec46adbb/data/travelTimes_2015_Helsinki.txt) usando pandas.

In [1]:
# Importando a biblioteca Pandas
import pandas as pd
from shapely.geometry import Point, LineString, Polygon

In [3]:
# Armazenando o dataset na váriavel dados.
dados = pd.read_csv("https://raw.githubusercontent.com/AutoGIS-2019/Exercise-1/79d71e62c0823c8c55af1290d1016d84ec46adbb/data/travelTimes_2015_Helsinki.txt", sep=";")

In [4]:
# Mostrando as 5 primeiras linhas do dataset.
dados.head()

,from_id,to_id,fromid_toid,route_number,at,from_x,from_y,to_x,to_y,total_route_time,route_time,route_distance,route_total_lines
0,5861326,5785640,5861326_5785640,1,08:10,24.970438,60.311917,24.856034,60.399941,125.0,99.0,22917.6,2.0
1,5861326,5785641,5861326_5785641,1,08:10,24.970438,60.311917,24.860568,60.400014,123.0,102.0,23123.5,2.0
2,5861326,5785642,5861326_5785642,1,08:10,24.970438,60.311917,24.865102,60.400086,125.0,103.0,23241.3,2.0
3,5861326,5785643,5861326_5785643,1,08:10,24.970438,60.311917,24.869636,60.400159,129.0,107.0,23534.2,2.0
4,5861326,5787544,5861326_5787544,1,08:10,24.970438,60.311917,24.842582,60.397478,118.0,92.0,22428.2,2.0

In [5]:
# Checando quantas colunas e linhas o dataset tem
dados.shape

(14643, 13)

2. Selecionando as 4 colunas que contem informações de coordenadas ("from_x", "from_y", "to_x", "to_y") e armazenando na váriavel dados (sobrescrevendo a variável).

In [6]:
dados = dados[["from_x", "from_y", "to_x", "to_y"]]
dados.head()

      from_x     from_y       to_x       to_y
0  24.970438  60.311917  24.856034  60.399941
1  24.970438  60.311917  24.860568  60.400014
2  24.970438  60.311917  24.865102  60.400086
3  24.970438  60.311917  24.869636  60.400159
4  24.970438  60.311917  24.842582  60.397478

In [7]:
print(list(dados.columns))

['from_x', 'from_y', 'to_x', 'to_y']

3. Crie duas listas de pontos vazias chamadas pontos_origem e pontos_destino.

In [8]:
# Criando nomes das colunas
pontos_origem = []
pontos_destino = []

In [9]:
# Verificando o comprimento atual das listas
print("Comprimento pontos_origem: ", len(pontos_origem))
print("Comprimento pontos_destino:", len(pontos_destino))

Comprimento pontos_origem:  0
Comprimento pontos_destino: 0

4. Crie pontos para cara origem e destino e adicione os pontos de origem na pontos_origem e os pontos de destino em pontos_destino.

In [10]:
# Loop para iterar com os dados do dataframe e popular as listas com os dados de
# coordenadas de origem e destino, criando os pontos.
for idx, row in dados.iterrows():
    pontos_origem.append(Point(row["from_x"], row["from_y"]))
    pontos_destino.append(Point(row["to_x"], row["to_y"]))

In [11]:
# Verificando o comprimento atual das listas após a inserção dos dados.
print('Comprimento pontos_origem:', len(pontos_origem))
print('Comprimento pontos_destino:', len(pontos_destino))

Comprimento pontos_origem: 14643
Comprimento pontos_destino: 14643

In [12]:
# Testando os resultados.
print("Origem x y:", pontos_origem[0].x, pontos_origem[0].y)
print("Destino x y:", pontos_destino[0].x, pontos_destino[0].y)

assert len(pontos_origem) == len(dados), "O número de pontos de origem deve ser o mesmo que o número de linhas no arquivo original"

assert len(pontos_destino) == len(dados), "O número de pontos de destino deve ser o mesmo que o número de linhas no arquivo original"

Origem x y: 24.9704379 60.3119173
Destino x y: 24.8560344 60.3999406

# Problema 4: Criar LineStrings para representar os movimentos.

Continuando de onde paramos no Problema 3.

1. Criando uma lista chamada linhas

In [13]:
# Criando uma lista vazia
linhas = []

In [14]:
# Mostrando o comprimento da linha
print("Comprimento da linha:", len(linhas))

Comprimento da linha: 0

2a. Itere sobre as listas de origem e destino e crie um objeto Shapely LineString entre os pontos de origem e destino.
* Dica 1: Você pode usar a função range() que pode ajudar acessando os valores das duas listas ao mesmo tempo.
* Dica 2: Você pode usar a função zip() que itera sobre as listas ao mesmo tempo.

2b. Adicione a LineString dentro da lista linhas.

In [15]:
# Iterando sobre os pontos.
for p_o, p_d in zip(pontos_origem, pontos_destino):
    linhas.append(LineString([p_o, p_d]))
    #print(LineString(p_o, p_d))

In [16]:
# Testando para ver se a lista contém o número correto de LineStrings
assert len(linhas) == len(dados), "Devem haver tantas linhas quanto as linhas dos dados originais."

3. Crie uma variável chamada comprimento_total, e armazene a distância total (Euclidiana) de todas as linhas de origens e destinos que nós criamos nessa variável.
* Dica: Você pode querer iterar nas linhas e atualizar o comprimento total em cada iteração.

In [17]:
# Criando variável comprimento_total com valor inicial de zero.
comprimento_total = 0

# Iterando na lista de linhas e armazenando cada iteração na variável comprimento_total
for l in range(len(linhas)):
    comprimento_total = comprimento_total + linhas[l].length

In [18]:
# Mostrando o total de comprimentos das linhas somado.
print("Comprimento total das linhas somado é:", round(comprimento_total, 2))

Comprimento total das linhas somado é: 3148.57

4. Escreva a parte anterior em uma função para calcular o total de distâncias.
* cria_od_linhas(): Recebe as duas listas de objetos Shapely Point como entrada e retorna uma lista de LineStrings.
* calcula_total_distancias(): Recebe uma lista de objetos geométricos LineString como entrada e retorna o seu comprimento total.

Você pode copiar e colar os códigos já escritos anteriormente nas funções. Após isso, teste as funções (Elas devem obter o mesmo resultado que antes).

In [19]:
# Criando a função cria_od_linhas()
def cria_od_linhas(pontos_o, pontos_d):
    """
    Parâmetros:
    pontos_o recebe a lista com os pontos de origem.
    pontos_d recebe a lista com os pontos de destino.
    lista_linhas inicia em zero e após a iteração, retorna a nova lista LineString.
    """
    lista_linhas = []
    for p_o, p_d in zip(pontos_o, pontos_d):
        lista_linhas.append(LineString([p_o, p_d]))
    
    return lista_linhas

In [20]:
# Criando a função calcula_total_distancias()
def calcula_total_distancias(l_linhas):
    """
    Parâmetros:
    l_linhas recebe a lista de objetos LineString
    comprimento inicia em zero e a cada iteração recebe a soma das linhas, retornando o valor total do comprimento.
    """
    
    comprimento = 0
    # Iterando na lista de linhas e armazenando cada iteração na variável comprimento_total
    for l in range(len(l_linhas)):
        comprimento = comprimento + l_linhas[l].length
    
    return comprimento

In [21]:
# Testando as funções

# Criando as linhas de origem e destino.
od_linhas = cria_od_linhas(pontos_origem, pontos_destino)

# Calculando a distância total
tot_dist = calcula_total_distancias(od_linhas)

# Mostrando o resultado
print("Distância total:", round(tot_dist, 2))

Distância total: 3148.57

# All done!